<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.anica.takeyourseat">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/googleMapsKey" />

        <activity android:name="takeyourseat.activities.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="takeyourseat.activities.RegisterActivity"
            android:label="@string/register"
            android:parentActivityName="takeyourseat.activities.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="takeyourseat.activities.MainActivity" />
        </activity>
        <activity
            android:name="takeyourseat.activities.HomePageActivity"
            android:label="@string/homePage">

        </activity>
        <activity
            android:name="takeyourseat.activities.SettingsActivity"
            android:label="@string/settings"
            android:parentActivityName="takeyourseat.activities.HomePageActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="takeyourseat.activities.HomePageActivity" />
        </activity>
        <activity
            android:name="takeyourseat.activities.DetailActivity"
            android:label="@string/detail"
            android:parentActivityName="takeyourseat.activities.HomePageActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="takeyourseat.activities.HomePageActivity" />
        </activity>
        <activity
            android:name="takeyourseat.activities.ProfileActivity"
            android:label="@string/nav_profile"
            android:parentActivityName="takeyourseat.activities.HomePageActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="takeyourseat.activities.HomePageActivity" />
        </activity>
        <activity
            android:name="takeyourseat.activities.ReservationActivity"
            android:label="@string/reservation"
            android:parentActivityName="takeyourseat.activities.DetailActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="takeyourseat.activities.DetailActivity" />
        </activity>
        <activity android:name="takeyourseat.activities.FriendsActivity"
            android:label="@string/invite"
            android:parentActivityName="takeyourseat.activities.ReservationActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="takeyourseat.activities.ReservationActivity" /></activity>
    </application>

</manifest>